*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Typography  Start */
html {
  font-size: 10px;
}
body {
  line-height: 1.6;
  overflow-x: hidden;
  box-sizing: inherit;
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  color: #333;
}
h1,
h2,
h3,
p {
  font-weight: 300;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
section {
  padding: 8rem 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* Typography  End*/

/* Headings Styles Start */
.h-primary,
.h-secondary {
  display: block;
}
.h-primary {
  font-size: 8rem;
}
.h-secondary {
  font-size: 4rem;
}
.h-tertiary {
  font-size: 3rem;
}
.h-quaternary {
  font-size: 2.2rem;
}
/* Headings Styles End */

/* Buttons Styles Start */
.btn {
  font-size: 1.8rem;
  padding: 0.5em 0.8em;
  border-radius: 0.2em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.5em 0;
  display: inline-block;
}
.btn--fill {
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  color: #fff;
}

/* Buttons Styles End */

.t-orange {
  color: orange;
}
.t-bold {
  font-weight: bold;
}

.t-center{
  text-align: center;
}

/* Header Section Start */
.header {
  background-image: url(./images/top-banner.png);
  height: 600px;
  background-repeat: no-repeat;
}
.half-width {
  float: left;
  width: 45%;
}
/* .header */
.header__left {
  margin-top: 10rem;
  margin-right: 5%;
}
.header .h-secondary {
  margin-top: -3rem;
}
.header__left .h-tertiary {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
p {
  font-size: 1.8rem;
  width: 95%;
  text-align: justify;
}
.header__left .btn.btn--fill {
  margin-top: 2rem;
}

.header__right {
  margin-top: 5rem;
}

/* Dream area starts */
.dream-area {
  background: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 500px;
}
.dream-area__left img {
  width: 70%;
}

/* Experience area */
.experiences-area {
  margin: 0 auto;
  height: 500px;
  background: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experiences-area .half-width {
  width: 38%;
  margin: 0 4%;
  margin-top: 3rem;
  padding: 10px;
  box-shadow: 6px 8px 25px grey;
  height: 300px;
  background:#fff;
 
}


.experiences-area .half-width:first-of-type{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}

.experiences-area .half-width:last-of-type{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}


footer p {
  padding:3rem;
}